body{
    background-color:#795CD4;
}
.center-space{
    color: rgb(251, 251, 252);
    margin-top: 200px;
    background-color: #ebdf07;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 30px;
    padding-top: 20px;
    
    
    
}
header{
    background-color: #795CD4;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 20px;
    text-align: right;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}
nav a {
    text-decoration: none;
    color: rgb(252, 251, 252);
    font-size: 20px;
    font-weight: bold;
}

nav a:hover {
    color: #ebdf07; /* Change color on hover */
}
.imagen img{
    width: 35%; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; 
    margin-left: 65%;
    margin-top: -40%;
      
}